.dropdown-wrapper {
  color: black;
  top: 60px;
  left: 135px;
  position: absolute;
  height: 400px;
  width: 250px;
  background-color: white;
  animation: dropdown .4s ease;
  z-index: 1;
  border: 1px solid gray;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.dropdown-wrapper p {
  margin-top: 20px;
}

@keyframes dropdown {
  0% {
    height: 0px;
    opacity: 0;
  }

  100%{
    height: 400px;
    opacity: 1;
  }

}
